  VITE_FIREBASE_API_KEY=AIzaSyBcdI-_htU-1m4bUNbBRkkONmadUB54GZM
  VITE_FIREBASE_AUTH_DOMAIN=dots2squares---v1.firebaseapp.com
  VITE_FIREBASE_PROJECT_ID=dots2squares---v1
  VITE_FIREBASE_STORAGE_BUCKET=dots2squares---v1.firebasestorage.app
  VITE_FIREBASE_MESSAGING_SENDER_ID=354748867144
  VITE_FIREBASE_APP_ID=1:354748867144:web:dca9f37d23d54e49bdee7d
  VITE_FIREBASE_MEASUREMENT_ID=G-PD9FETB0RZ